[submodule "ext/neuraltalk2"]
	path = ext/neuraltalk2
	url = https://github.com/karpathy/neuraltalk2.git
[submodule "ext/torch"]
	path = ext/torch
	url = https://github.com/torch/distro.git
[submodule "ext/nanomsg"]
	path = ext/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
